body {
  margin: 0;
  background-image: url(dark-images/darkmode.png);
  background-repeat: no-repeat;
  background-size: cover;
  /* TODO GALACTIC FONT BUT NOT IN OPTIONS SEE WHAT KOOKS LIKE IN BUTTON BUT NOT SURE */
}
h1 {
  font-weight: bold;
  font-size: 80px;
  font-weight: 800;
  line-height: 60px;
  width: 700px;
  margin-top: 200px;
  margin-left: 52px;
  margin-bottom: 0;
  color: #1f0301;
  text-shadow: 5px 5px 2px black;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#title-details {
  color: #9e2a2b;
  text-shadow: 2px 1px 1px #540b0e;
}

/* todo make galactix slight glow make generate a reading easier make titles larger center them better sio that all the h1 is on 1 or 2 lines center the may the securityetc*/
#title-glow {
  text-shadow: 2px 1px 8px hsl(359, 58%, %);
}

h2 {
  color: #d5d4d8;
  width: 372px;
  height: 28px;
  margin-left: 52px;
  font-weight: 400px;
  font-size: 25px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.generate-password {
  background-color: #9e2a2b;
  color: white;
  width: 191px;
  height: 42px;
  margin-top: 30px;
  margin-bottom: 50px;
  border-radius: 20px;
  padding-top: 9px;
  padding-right: 17px;
  padding-bottom: 9px;
  padding-left: 15px;
  gap: 12px;
  font-size: 15px;
  font-weight: bold;
  box-shadow: inset 5px -5px 3px rgba(0, 0, 0, 0.5);
  border: 0;
  /* TODO ADD LITTLE ANIMATION SAVED ON UIVERSE */
  /* TODO CENTER BUTTON TRIED MARGIN AUTO AND ALIGN SELF AND FLEXBOX NO WORK  */
}
/* .generate-password::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 3px;
  background: linear-gradient(90deg, transparent, #ffd700, transparent);
  transition: width 0.3s ease;
} */
/* TODO THIS DOESNT WORK FIX IT CRAP GOT FROM VO HISTORY */

.options {
  color: #9e2a2b;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.option-one,
.option-two {
  background-color: white;
  /* TODO fix the boxes look awful */
  width: 211px;
  height: 39px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  text-shadow: 1px 1px 1px black;
  box-shadow: inset 5px -5px 3px rgba(0, 0, 0, 0.5);
}
.option-two {
  box-shadow: inset -5px -5px 3px rgba(0, 0, 0, 0.5);
}
.option-one:hover,
.option-two:hover,
.generate-password:hover {
  opacity: 50%;
  transform: scale(1.05);
}
/* TODO MAYBE LITTLE SOUND WHEN CLICK BUTTON */
.divider {
  width: 446px;
  height: 2px;
  top: 361px;
  left: 52px;
  background-color: #9e2a2b;
  border-width: 1px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  /* TODO ANIMATE SO LOOKS LIKE PULSING LIKE LIGHTSABER */
}

.check-box {
  color: #9e2a2b;
  /* TODO THINK OF NICE WAY TO */
}
